a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:focus {
    color: #000000;
    text-decoration: none;
}

body {
    text-align: center;
    background-color: #000000;
    color: #026eff;
    font-family: "Roboto", sans-serif;
}

.addQuestion {
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #d3d3d3;
    width: 90%;
    height: 60px;
    color: #026eff;
}

.addQuestion:hover {
    background-color: #026eff;
    border: 1px solid #000000;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #d3d3d3;
    width: 90%;
    height: 60px;
    color: #ffffff;
}

.aid {
    color: #f15e23;
}

.bodyBox {
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #d3d3d3;
    width: 90%;
    padding: 40px;
    margin: 100px auto 20px auto;
    justify-content: space-around;
}

.bodyBoxGraph {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #d3d3d3;
    width: 90%;
    padding: 20px;
    margin: 40px auto 20px auto;
    justify-content: space-around;
}

.bodyBoxInput {
    text-align: left;
    width: 30%;
}

.bodyBoxInputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bottomLineInput:focus {
    border-bottom: 1px solid #000000;
}

.buttonOptions {
    margin: 20px 20px 100px 20px;
    background-color: #000000;
}

.cancel {
    margin-left: 10px;
    font-weight: normal;
    width: 100px;
    background: transparent;
    border: none;
}

.create {
    width: 120px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #d3d3d3;
    margin-right: 10px;
}

.createSurvey {
    margin: 20px auto;
}

.createSurveyLink {
    color: #026eff;
}

.delete {
    width: 24px;
}

.edit {
    width: 24px;
}

.editGraphHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.exportData {
    width: 24px;
}

.export {
    width: 120px;
    border-radius: 5px;
    background-color: #f15e23;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.fieldInput {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 300px;
}

.fieldInputLabel {
    color: black;
    align-items: left;
    margin-top: 20px;
}

.forgotPassword {
    margin-top: 5px;
}

.forgotPasswordLink {
    text-decoration: none;
    color: #026eff;
}

.forgotPasswordLink:hover {
    text-decoration: none;
    color: #026eff;
}

.graphBox {
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #d3d3d3;
    width: 90%;
    padding: 20px;
    margin: 100px auto 0px auto;
    justify-content: space-around;
    flex-direction: column;
}

.graphTitle {
    margin: 0 auto;
    color: #000000;
    font-weight: bold;
}

.header {
    font-weight: bold;
}

.headerBar {
    display: flex;
    float: left;
    padding: 40px 60px;
    font-weight: bold;
    width: 100%;
    justify-content: space-between;
}

.iconButton {
    background-color: #ffffff;
    border: none;
}

.icon {
    width: 24px;
    margin-right: 4px;
}

.inputAuth {
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.lastItem {
    border-bottom: 1px solid #000000;
}

.loginComponent {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.main {
    background-color: #ffffff;
    display: flex;
}

.navDropdown {
    border-top: 1px solid #000000;
}

.navigation {
    color: #000000;
}

.navigationItem {
    border-top: 1px solid #000000;
    padding: 14px;
}

.navigationItem:hover {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    padding: 14px;
    background-color: #026eff;
    cursor: grab;
    color: #ffffff;
}

.navigationItem:hover .navigation {
    color: #ffffff;
}

.navigationItemSurveys {
    border-top: 1px solid #f15e23;
    border-left: 1px solid #f15e23;
}

.pictureBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.questionTypeDropdown {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
    width: 100%;
    height: 60px;
    color: #000000;
}

.row {
    display: flex;
    justify-content: space-between;
}

.save {
    width: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.saveOption {
    width: 100px;
    border-radius: 5px;
}

.sideBar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid #000000;
    padding-right: 0px;
    width: 300px;
    position: fixed;
}

.signUp {
    margin-top: 30px;
}

.signUpComponent {
    background-color: #000000;
    width: 100vw;
}

.signUpLink {
    text-decoration: none;
    color: #026eff;
}

.signUpLink:hover {
    text-decoration: none;
    color: #026eff;
}

.signUpNow {
    text-decoration: none;
    color: #f15e23;
}

.signUpNow:hover {
    text-decoration: none;
    color: #f15e23;
    opacity: 100%;
}

.survaidBrand {
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.survaidContainer {
    display: flex;
    align-items: center;
    background-color: #000000;
}

.survaidLogoBrand {
    max-width: 80px;
    max-height: 80px;
    margin: 10px auto;
}

.survaidLogo {
    max-width: 300px;
    max-height: 300px;
    margin: 20px auto;
}

.survaidProfile {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
}

.surv {
    color: #026eff;
    padding-top: 50px;
}

.survBrand {
    color: #026eff;
    font-size: 36px;
    margin: 0px auto;
}

.survey {
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    overflow-y: auto;
    margin-left: 300px;
}

.surveyDropdown {
    background-color: #f15e23;
    border: 1px solid #f15e23;
    border-radius: 0px;
    width: 100%;
    height: 60px;
}

.surveyDropdown:focus {
    background-color: #f15e23;
    border: 1px solid #f15e23;
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#password {
    margin-top: 10px;
}

::placeholder {
    text-align: center;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
